.nav-li {
  display: inline-block;
  text-align: center;
}

.cartItem {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.categories {
  display: inline;
  margin-left: 10px;
  text-align: center;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.selected {
  color: hotpink;
}
