@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&display=swap");

a {
  color: #000000 !important;
}

.nav-li {
  display: inline-block;
  text-align: center;
}

.linkUL {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cursor {
  cursor: pointer;
}

.cartItem {
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.categories {
  display: inline;
  margin-left: 10px;
  text-align: center;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.selected {
  color: green;
}

.product-image {
  object-fit: cover;
  width: 530px;
  height: 530px;
  padding: 0px;
  cursor: pointer;
}

.withBorder {
  border: 2px solid black;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.img__wrap {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-description,
.item-price {
  color: white;
  text-shadow: 2px 2px 4px black;
}

.item-page {
  margin-top: 80px;
}

.product-pic {
  object-fit: cover;
  width: 530px;
  height: 530px;
  padding: 0px;
}

.product-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a0ad94;
  width: 530px;
  height: 530px;
}

.add-button {
  background-color: black;
  color: white;
}

.add-button:hover {
  color: #a0ad94;
}

.rotatedHeader {
  position: fixed;
  top: 50%;
  padding: 0 5px;
  text-align: center;
  border-radius: 5px;
  transform-origin: center top;
  transform: translateX(-50%) rotate(-90deg);
  margin-top: 40px;
}
.rotatedTitle {
  color: black;
  line-height: 0px;
  display: inline-block;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 45px;
  z-index: 100;
}

.filter-link {
  font-size: 13px;
  color: black;
  display: inline;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}

.buttons {
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 50px;
  border-radius: 30%;
}

.filter-btn {
  margin-left: 40px;
  background-color: #a0ad94;
  color: white;
}

.filter-btn:hover {
  background-color: black;
  color: white;
}

.dot {
  color: black;
}

.white {
  color: white;
  font-size: 20px;
}

.icon {
  font-size: 18px;
  margin-left: 15px;
}

.cartNumber {
  border-radius: 100%;
  font-size: 12px;
  padding-left: 2px;
}

.header {
  padding-top: 30px;
  height: 100px;
  width: 200px;
  display: inline-block;

  font-size: 50px;
  margin-left: 30px;
  font-family: "Frank Ruhl Libre", serif;
  background: url(header..png);
  background-size: 200px;
}

.carousel {
  display: inline-block;
  width: 1080px;
  height: 600px;
  margin: auto;
}

.search-form {
  width: 600px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

input:focus {
  outline: none;
}

.green {
  color: green;
}

.filter-link {
  text-decoration: none;
  text-align: center;
  font-weight: 16px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.reset {
  margin-top: 5px;
  text-decoration: underline;
  color: #000000;
}

.notFound {
  display: flex;
  height: 800px;
  justify-content: center;
  gap: 10px;
  padding-top: 150px;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cartPic {
  object-fit: cover;
  width: 130px;
  height: 130px;
  padding: 0px;
}

.cartItem {
  display: flex;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thanks {
  font-family: "Frank Ruhl Libre", serif;
  color: white;
  font-size: 50px;
}

.homePage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.social {
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  margin-bottom: 100px;
}

.card {
  background-color: #a0ad94;
  border: none;
}

.card2 {
  background-color: #ad7584;
  border: none;
}

.Background1 {
  background: url("https://bit.ly/37hag0F") no-repeat center center fixed;
  background-size: cover;
  background-position: top 200px;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

.half-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.welcome {
  font-size: 50px;
  font-family: "Frank Ruhl Libre", serif;
  color: white;
}

.mt-n1 {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.big-margin {
  margin-top: 100px;
}

.link2 {
  color: white;
  text-decoration: underline;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.orderPic {
  object-fit: cover;
  width: 50px;
  height: 50px;
  padding: 0px;
}

.orderedItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fad6ce;
  color: black;
}

.orders {
  display: flex;
  justify-content: center;
}

.img-div {
  height: 500px;
  background: url(anna-baker-pd8_p6xWMX8-unsplash.jpg);
  background-size: 800px;
}

.img-div2 {
  height: 500px;
  background: url(hola.png) no-repeat center center fixed;
  font-family: "Frank Ruhl Libre", serif;
  color: white;
  font-size: 30px;
  background-size: 800px;
}

.img-div3 {
  height: 800px;
  background: url(Kuroageha.jpg) no-repeat center center fixed;
  font-family: "Frank Ruhl Libre", serif;
  color: white;
  font-size: 30px;
  background-size: 1000px;
}

.addItem {
  display: flex;
  justify-content: center;
}

.items2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

pp-title {
  background-color: #eee;
  margin: 0.4em 0;
  padding: 0.6em;
}

.half_background {
  background: linear-gradient(to top, #fad6ce 50%, transparent 50%);
}

.frank {
  font-family: "Frank Ruhl Libre", serif;
}

.cart-ul {
  width: 500px;
}

.selectw {
  width: 30%;
}

.login-pic {
  height: 100vh;
}

option {
  font-size: 8px;
}

optgroup {
  font-size: 40px;
}
